@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Plataforma de Cadastro de Estudantes</h1>
    <p class="lead">Sistema para Gerenciamento de Cadastro de Estudantes.</p>
    <hr class="my-4">
    <p>Clique no botão abaixo para acessar a área de gestão.</p>
    <a class="btn btn-primary btn-lg" asp-controller="Estudantes" asp-action="Index">Gerenciar Estudantes</a>
</div>