@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Student Enrollment Platform</h1>
    <p class="lead">System for Student Enrollment Management.</p>
    <hr class="my-4">
    <p>Click the button below to access the management area.</p>
    <a class="btn btn-primary btn-lg" asp-controller="Students" asp-action="Index">Manage Students</a>
</div>